<div class="container">
    <div class="row align-items-center mt-5">
        <form #Form="ngForm" (ngSubmit)="addTodo()" class="d-flex align-items-center">
            <div class="mb-3 flex-grow-1 me-2">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description" name="description"  [(ngModel)]="newTodo.TaskDescription" >
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="row">
        <h4 class="text-center mt-3"><i>Todo List</i></h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
                <th scope="col">Completed?</th>
              </tr>
            </thead>
            <tbody>             
              <tr *ngFor="let todo of todos">
                <th>{{todo.description}}</th>
                <td>{{todo.createdDate | date: 'MM/dd/yyyy hh:mm a'}}</td>
                <td>{{todo.isCompleted}}</td>
              </tr>              
            </tbody>
          </table>
    </div>
</div>