<div class="container">
    <div class="row align-items-center mt-5">
        <form class="d-flex align-items-center">
            <div class="mb-3 flex-grow-1 me-2">
                <label for="description" class="form-label">Description</label>
                <input type="text" class="form-control" id="description">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="row">
        <h4 class="text-center mt-3"><i>Todo List</i></h4>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Description</th>
                <th scope="col">Date Created</th>
                <th scope="col">Completed?</th>
              </tr>
            </thead>
            <tbody>             
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
              </tr>              
            </tbody>
          </table>
    </div>
</div>